body {
  background: #ddd;
  padding-bottom: 15rem;
}

header {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #fff;
  font-weight: bolder;
  margin-top: 20px;

  h1 {
    text-transform: uppercase;
  }

  h2 {
    margin-top: 20px;
  }
}

.hitman {
  /* Homepage */
  .game-btn {
    border: solid 1px #fff;
    padding: 20px;

    &:hover {
      box-shadow: 10px 10px 25px #000;
    }
  }

  > a {
    text-decoration: none;
    display: block;
    margin: 20px;
  }

  /* Locations page */
  .site-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 992px) {
    .location {
      height: 500px;
    }
  }

  .location {
    color: white;
    margin-left: 3px;
    margin-right: 3px;



    &:hover {
      .location-info {
        color: white;
        background: rgb(252, 0, 59);
      }

      box-shadow: 2px 2px 2px #000;
    }

    .location-info {
      padding: 15px;
      background: white;
      color: #000;
      text-shadow: none;
    }
  }

  .location > a  {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    text-decoration: none;

    > p {
      flex-grow: 1;
    }
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
  }
}

.hitman2 {
  /* Homepage */
  .game-btn {
    border: solid 1px #fff;
    padding: 20px;

    &:hover {
      box-shadow: 10px 10px 25px #000;
    }
  }

  > a {
    text-decoration: none;
    display: block;
    margin: 20px;
  }

  font-family: 'Roboto', sans-serif;

  /* Locations page */
  .site-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 992px) {
    .location {
      height: 500px;
    }
  }

  .location {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
      box-shadow: 2px 2px 2px #000;

      .location-info {
        color: white;
        background: rgb(252, 0, 59);
      }
    }

    .location-info {
      padding: 15px;
      background: white;
      color: #000;
      text-shadow: none;
    }
  }


  .location > a  {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    text-decoration: none;

    > p {
      flex-grow: 1;
    }
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #000;
  color: #6b6c72;

  > p {
    margin-bottom: 0;
  }
}

.missions {
  header {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .mission {

    .game-btn {
      border: solid 1px #fff;
      margin: 20px;

      .header {
        border-bottom: solid 1px #fff;
        padding: 20px;
        background: #fff;
      }

      ul.difficulties {
        list-style-type: none;
        padding-left: 0;
        background: #eee;
        margin-bottom: 0;

        li {
          padding: 20px;
          border-bottom: solid 1px #fff;

          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }
}