.hitman {
  .site-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 992px) {
    .location {
      height: 500px;
    }
  }

  .location {
    display: flex;
    flex-direction: column;
    color: white;
    border: solid 1px #fff;
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
      .location-info {
        background: white;
        color: #000;
      }

      box-shadow: 2px 2px 2px #000;
    }

    .location-info {
      margin-left: -15px;
      margin-right: -15px;
      padding: 15px;
    }
  }

  .location > p {
    flex-grow: 1;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
  }
}

.hitman2 {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;

  .site-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 992px) {
    .location {
      height: 500px;
    }
  }

  .location {
    display: flex;
    flex-direction: column;
    color: white;
    border: solid 1px #fff;
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
      .location-info {
        background: white;
        color: #000;
      }

      box-shadow: 2px 2px 2px #000;
    }

    .location-info {
      margin-left: -15px;
      margin-right: -15px;
      padding: 15px;
    }
  }

  .location > p {
    flex-grow: 1;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
  }
}