{% extends 'base.twig' %}

{% set page_title = 'Page Not Found' %}
{% set body_style = "background: url('#{settings.cdnLocation}/#{model.jpgBackgroundFileExtension}/backgrounds/loading.#{model.jpgBackgroundFileExtension}') no-repeat center center fixed; background-size: cover" %}

{% block content %}
    <div class="site-container" style="color: white">
        <div class="text-center">
            <h1>Page Not Found</h1>
        </div>
        <div class="row text-center">
            <div class="col">
                <img src="/img/404.gif" alt="Janus being attacked with muffins"><br>
                <a style="font-size: .6em; color: white" href="https://www.reddit.com/r/HiTMAN/comments/ai5ao0/death_by_muffins/">u/AJNguyenYT on Reddit</a><br><br>
                <p>It looks like we couldn't find the page you're looking for. We asked Janus to help, but he wasn't being cooperative, despite being offered several blueberry muffins.</p>
                <a href="/" style="color: white"><i class="fas fa-arrow-left"></i> Back to the homepage</a>
            </div>
        </div>
    </div>
{% endblock %}