/* Cards */
$card-footer-background: rgba(29, 40, 52, .7);
$card-footer-background-hover: #fb0111;
$card-footer-text: #fff;

/* Elusives */
$elusive-countdown-header: #fff;
$elusive-countdown: #fef30a;

/* Modals */
$modal-background: #1d2834;
$modal-text-color: #fff;

/* Game Buttons */
$game-button-background: #1d2834;
$game-button-background-hover: #fb0111;
$game-button-text: #fff;
$game-button-disabled-background: #ddd;
$game-button-disabled-text: #333;