/* Cards */
$card-footer-background: rgba(29, 40, 52, .7);
$card-footer-background-hover: #fb0111;
$card-footer-text: #fff;

/* Elusives */
$elusive-countdown-header: #fff;
$elusive-countdown: #fef30a;