{% extends 'base.twig' %}

{% set page_title = 'Register' %}
{% set body_style = "background: url('/img/backgrounds/home.jpg') no-repeat center; background-size: cover" %}
{% set body_class = 'register' %}

{% block content %}
    <header class="row">
        <div class="col text-center">
            <h1>Interactive Maps For</h1>
            <a href="/">
                <img src="/img/logos/hitman2.png">
            </a>
            <h2>Create an Account to Edit Maps</h2>
        </div>
    </header>
    {% for alert in model.messages %}
        <div class="alert alert-{{ alert.type }}" role="alert">
            <i class="fas fa-{{ alert.icon }}"></i>
            {{ alert.messageHtml | raw }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col login">
            <div class="login-card">
                <form id="register-form" action="/user/register" method="post" class="form-horizontal">
                    <div class="form-group row">
                        <label for="name" class="col-md-3 col-form-label"><i class="fas fa-user-plus"></i> Name</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Carlton Smith" required>
                        </div>
                    </div>

                    {# Add remote validation for email address! #}
                    <div class="form-group row">
                        <label for="email" class="col-md-3 col-form-label"><i class="fas fa-envelope"></i> Email</label>
                        <div class="col-md-9">
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="carlton.smith@example.com"
                                   data-parsley-remote="/user/register/verify-email"
                                   data-parsley-remote-message="An account with this email already exists"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-md-3 col-form-label"><i class="fas fa-key"></i> Password</label>
                        <div class="col-md-9">
                            <input type="password" name="password" class="form-control" id="password" placeholder="********"
                                   minlength="8" data-parsley-error-message="Password must be at least 8 characters" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirm-password" class="col-md-3 col-form-label"><i class="fas fa-key"></i> Confirm Password</label>
                        <div class="col-md-9">
                            <input type="password" name="confirm-password" class="form-control" id="confirm-password"
                                   placeholder="********" data-parsley-equalto="#password" data-parsley-error-message="Passwords must match" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <div class="col-md-9 offset-md-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="terms" data-error="You must agree to the Terms of Use and Privacy Policy" required>
                                    I agree to the <a href="/terms-of-use" target="_blank">Terms of Use</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <div class="col-md-9 offset-md-3">
                            <div class="g-recaptcha"
                                 data-callback="verifyRecaptchaCallback"
                                 data-expired-callback="expiredRecaptchaCallback"
                                 data-sitekey="{{ settings.recaptchaSiteKey }}"></div>
                            <input type="hidden" class="form-control" data-parsley-required="true" data-recaptcha="true" data-parsley-error-message="Please complete the captcha" data-validate="true" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 offset-md-3">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-check"></i> Submit
                            </button>
                            <a class="btn btn-light" href="/user/login"><i class="fas fa-chevron-left"></i> Go Back</a>
                        </div>
                    </div>
                </form>
                <script>
                    $('#register-form').parsley({
                        excluded: 'input[type=button],input[type=submit],input[type=reset]',
                        errorClass: 'is-invalid text-danger',
                        successClass: 'is-valid',
                        errorsWrapper: '<span class="form-text text-danger"></span>',
                        errorTemplate: '<span></span>',
                        trigger: 'change'
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}