{% extends 'base.twig' %}

{% set page_title = 'Terms of Use' %}
{% set body_style = "background: url('#{settings.cdnLocation}/#{model.jpgBackgroundFileExtension}/backgrounds/loading.#{model.jpgBackgroundFileExtension}') no-repeat center; background-size: cover; color: #000" %}

{% block content %}
    <h2>Terms of Use</h2>
    <h3>Terminology</h3>
    <p>"HITMAN 2 Maps" ("we", "site", "the site", "the service", "hitmaps.com") refers to the HITMAN 2 Maps website.
        These terms are to be bound at all times and are available on the HITMAN 2 Maps website.
        The terms of this agreement shall be active one day after last updated (shown below) and set forth by the HITMAN 2 Maps administration.</p>
    <h3>Usage</h3>
    <p>By using any service or product from or visiting the website of HITMAN 2 Maps, you automatically agree to the following terms.
        You must also explicitly agree to these terms when creating an account on the site.
        It is your responsibility to familiarize yourself with any modifications made to this agreement.
        Your continued use of this website will constitute acknowledgement of the modified terms of use.</p>
    <h3>Terms</h3>
    <h4>General</h4>
    <ul>
        <li>All servers that contain / run site data are hosted off-site. We are not
            responsible for any data loss or service interruption on these servers. If the service level between one
            of these companies is less than desired/expected/required, we may contact the company requesting appropriate
            compensation and/or explanation. We are not responsible for any data loss, security breaches, privacy
            exploits, or any other incidents that may unexpectedly occur; however we will contact you within seven (7)
            business days should any breach regarding your personal data occur.</li>
        <li>We reserve the right to modify these terms at any time without notice.</li>
        <li>Disclaimer of Warranties and Limitations of Liability: This website is provided on an "as is" and "as available" basis.
            Use of this website is at your own risk.
            We and our suppliers disclaim all warranties.
            Neither we nor our suppliers shall be liable for any damages of any kind with the use of this website.</li>
        <li>Governing Law: This site (excluding any linked sites) is controlled by us from our offices within Ohio, United States of America.
            It can be accessed from all 50 states, as well as from other countries around the world.
            As each of these places has laws that may differ from those of Ohio, by accessing this site both of us agree that the statutes and laws of the State of Ohio, without regard to the conflicts of laws principles thereof and the United Nations Convention on the International Sales of Goods, will apply to all matters relating to the use of this site and the purchase of products and services available through this site.
            Each of us agrees and hereby submits to the exclusive personal jurisdiction and venue any court of competent jurisdiction within the State of Ohio with respect to such matters.</li>
    </ul>
    <h4>User-Submitted Data</h4>
    <ul>
        <li>The site allows users from the public to submit content which can be viewed in a public setting. All
            user-submitted content is immediately available for viewing when created; no content is manually moderated
            when initially created.</li>
        <li>The site is not responsible for any content posted on the site. However, we do actively moderate the system and remove any offending / illegal / off-topic content.</li>
        <li>Contributions containing, but not limited to, the following are <b>strictly prohibited</b>:
            <ul>
                <li>Information containing profanity (unless copied directly from an authorized source)</li>
                <li>Information that is political in nature</li>
                <li>Information that contains illegal information (including, but not limited to, piracy, warez, theft, illegal drugs, etc (unless copied directly from an authorized source))</li>
                <li>Information that is not related to HITMAN, Io-Interactive, or the site in general</li>
                <li>Information that is malicious / potentially malicious in nature</li>
            </ul>
            <p>Note: "Illegal" content is determined within the local, state, and federal jurisdictions of the site. Any
                design that violates these rules will be removed without warning. The HITMAN 2 Maps
                administration has the final say in all contributions and whether a design violates any of these rules.</p>
        </li>
        <li>In the event of any illegal or potentially illegal content posted on the website (including,
            but not limited to, piracy, threats of violence, etc), we will notify the proper law enforcement agencies.</li>
        <li>In the event of any user violating these terms, the user's account and/or IP address may be banned, prohibiting
            them from visiting the website in the future. We reserve the right to enforce any action as we see fit.</li>
    </ul>
    <p><b><i>These terms are subject to change at any time without notice.  The current terms of use will be available
                on the HITMAN 2 Maps website.  Changes to these terms must be approved by the site administration.</i></b></p>

    <div><br>Last Edited on 2018-12-09</div>
{% endblock %}