#disguises {
	background: url("../img/map_colorado/disguises_.jpg") no-repeat 0 50px;
}

.disg-item {
	background: url("../img/map_colorado/disguises.jpg") no-repeat 0 0 #656669;
}

.disg-item:hover {
	background-image: url("../img/map_colorado/disguises_.jpg");
}

#disguises.suit, #disg-suit { background-position: 0 -50px; }
#disguises.cook, #disg-cook { background-position: 0 -100px; }
#disguises.tech, #disg-tech { background-position: 0 -150px; }
#disguises.soldier, #disg-soldier { background-position: 0 -200px; }
#disguises.elite, #disg-elite { background-position: 0 -250px; }
#disguises.specops, #disg-specops { background-position: 0 -300px; }
#disguises.expl, #disg-expl { background-position: 0 -350px; }
#disguises.hacker, #disg-hacker { background-position: 0 -400px; }
#disguises.pointman, #disg-pointman { background-position: 0 -450px; }
#disguises.scarecrow, #disg-scarecrow { background-position: 0 -500px; }

.leaflet-map {
	background: #2f3b39 !important;
}