#disguises {
	background: url("../img/map_training2/disguises_.jpg") no-repeat 0 50px;
}

#disguises-dropdown {
 	height: 290px;
}

.disg-item {
	background: url("../img/map_training2/disguises.jpg") no-repeat 0 0 #656669;
}

.disg-item:hover {
	background-image: url("../img/map_training2/disguises_.jpg");
}

#disguises.suit, #disg-suit { background-position: 0 -50px; }
#disguises.mechanic, #disg-mechanic { background-position: 0 -100px; }
#disguises.security, #disg-security { background-position: 0 -150px; }
#disguises.soldier, #disg-soldier { background-position: 0 -200px; }
#disguises.officer, #disg-officer { background-position: 0 -250px; }

.leaflet-map {
	background: #111213 !important;
}